@font-face
{
    font-family: 'Ailerons';
    src: url('./fonts/subset-Ailerons-Regular.woff2') format('woff2'),
        url('./fonts/subset-Ailerons-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
    -webkit-appearance: none;
-moz-appearance: none;
appearance: none;

}

.us-proyect{
  padding-top: 2%;
    padding-bottom: 3%;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    /* font-weight: bold; */
    /* color: #222; */
    text-transform: uppercase;
    line-height: 1.3;
    text-align: center;
}


.verificado{
    width: 20px;
}
img, svg {
  width: 100%;
}

.home-img{
  width: 500px;
}
/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html,
body {
    padding-top: 20px;

  overflow-x: hidden; /* Permitir solo scroll vertical */
}

.fixed-top {
    position: fixed;
    top: -10px;
    right: 0;
    left: 0;
    z-index: 1030;
}

.logo{
    width: 100px;
}

/* Experience Canvas */
.experience {
  position: fixed; /* Canvas como fondo fijo */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Mantener el canvas detrás del contenido */
  pointer-events: none; /* Evitar interferencias con la interacción */
}


.container{
  padding: 4px;
}
/* Title Section */
.title, h1 {
        padding-top: 2%;
        padding-bottom: 3%;
        font-family: 'Anton', sans-serif;
        font-size: 70px;
        font-weight: bold;
        color: #222;
        text-transform: uppercase;
        line-height: 1.3;
  text-align: center;

}

.subtitle{
    background-color: #fff400;
    border-radius: 18px;
    display: inline-block;
    width: 33%;
    font-size: 25px;
}
.homes{
  height: 680px;
  padding: 5rem;
}


@media (max-width: 768px) {
  .homes {
      align-content: center;
      height: 100vh;
      text-align: center;
      padding: 20px;
  }
}



.lead{
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Ailerons', Helvetica, Arial, sans-serif;
  font-weight: 200;
  /* Separación desde el inicio */
}
.title h2 {
    color: black;

  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Ailerons', Helvetica, Arial, sans-serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.text-secondary {
  padding: 0px 32px;
  text-align: justify;
  /* width: 60%; */
  --bs-text-opacity: 1;
  color: rgb(60 60 60) !important;}



.logo {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
}

.icon{
  vertical-align: baseline;
  width: 25px;
}

.logo-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.logo-text {
  font-family: Arial, sans-serif;
}
/* Hero Section */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la pantalla */
  background: black; /* Fondo negro para destacar el título */
  color: white;
  text-align: center;
}
.section-header {
  text-align: center;
  margin-bottom: 2rem;
}


footer {
  text-align: center;
  padding: 1rem 0;
  background-color: black;
  color: white;
}

/* Header and Navigation */
.navbar-brand {
    display: flex;
    align-items: center;
}

.btn-portafolio {
    background-color: #8a2be2;
    color: white;
    border-radius: 8px;
    padding: 8px 16px;
}
.btn-portafolio:hover {
    background-color: #6a1bbd;
}

@media (max-width: 992px) {
  .hamburger {
    display: block; /* Mostrar en pantallas pequeñas */
  }

  .nav-links {
    display: none; /* Ocultar menú en pantallas pequeñas */
  }
  .subtitle{
    width: 75%;
    font-size: 17px;

  }
}


@media (max-width: 992px) {
    .iframe{
        width: auto;
        height: auto;
    }
}

/* Hamburger Menu */





.landing{
  margin: auto;
  width: 85%;
  align-items: center;
  
  background-color: #7c44c38f;
  backdrop-filter: blur(10px);
  color: rgb(2, 2, 2);
  text-align: center;
}



/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
      display: none; /* Ocultar navegación en pantallas pequeñas */
      flex-direction: column;
      background-color: black;
      position: absolute;
      top: 100%;
      right: 0;
      width: 100%;
      padding: 1rem 0;
      z-index: 1;
  }

  .nav-links.active {
      display: flex; /* Mostrar menú al activar el botón hamburguesa */
  }

  .navbar{
    width: 100%;
  }
  
}

@media (max-width: 768px) {
  .home-img {
    width: 300px;
}

}


/* ancho del headre */
.bg-white {
    width: 100%;}

/* General section styles */
.cards-section {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  overflow: hidden;
}

/* Card styles */
.custom-card {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, opacity 0.5s ease;
  
  transform: translateY(30px);
  opacity: 0;
}

/* Card visible state */
.custom-card.visible {
  transform: translateY(0);
  opacity: 1;
}



/* Gradient line */
.gradient-line {
  width: 25%;
  height: 3px;
  border-radius: 2px;
  background: linear-gradient(to right, #00ffef, #ff00fa);
  margin: 10px 0;
}

/* 4 pasos */
.steps-section {
  background-color: #000000;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: black;
  padding: 80px 20px;
  position: relative;
}

 h5 {
  margin: -4% 0% 5% 0%;
  border-radius: 12px;
  color: #000000;
  background: #dbff14;
  padding: 12px;
  text-align: -webkit-center;
  width: 52%;
  font-family: 'Anton';
  font-size: 1.25rem;
}
.steps-container {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  max-width: 900px;
  margin: auto;
}
.step {
  background-image: url('./Assets/imagenes/Back3.jpg');
  box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3), 0 55px 50px -35px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  background: linear-gradient(to right, #4839ff, #a900ff);
  text-align: left;
  position: relative;
  display: flex
;
  flex-direction: column;
}

.step, image{
  width: auto;
}

.step-header {
  display: flex;
      align-items: center;
      gap: 10px;
      flex-direction: column;
}
.step-number {
  font-size: 60px;
  font-weight: bold;
  color: #8A2BE2;
  font-family: 'Anton', sans-serif;
}
.step-title {
  text-align: center;
  text-transform: uppercase;
    margin: 0% 0% 7% 0%;
  font-size: 44px;
  /* font-weight: bold; */
  font-family: 'Anton', sans-serif;
}
.step-text {
  padding: 0% 3%;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}




.car-icon {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  transition: transform 0.2s ease-out;
}
@media (max-width: 768px) {
  .steps-container {
      display: flex;
      flex-direction: column;
      
  }
  
  .icon{
    width: 15px;
  }

  .car-icon {
      left: auto;
      right: 10%;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .fw-bold{
    font-size: 45px;
 }
}

.fw-bold{
text-transform: uppercase;
font-weight: 700 !important;
}


/*Carrousel*/


.slider-outer {
  position: relative;
  width: 80%;
  margin: auto;
  padding: 20px 0;
}



 
.owl-carousel .card {
  border: hidden;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: white;
  padding: 20px;
  text-align: center;
}
.card-image img {
  max-width: 100%;
  border-radius: 5px;
}
.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 5px;
}
.nav-button.prev {
  background-color: #ffffff;
  color: #5b00ff;
  left: -50px;
}
.nav-button.next {
  background-color: #ffffff;
  color: #5b00ff;
  right: -50px;
}
@media (max-width: 768px) {
  .slider-outer { width: 90%; }
  .nav-button {
      padding: 10px 15px;
      font-size: 20px;
  }
  .nav-button.prev { left: 5px; }
  .nav-button.next { right: 5px; }
}







    /* Seccion de blu + white. */
  

   
   

    
.btn-gradient {
    height: fit-content;
    /* width: auto; */
    /* display: inline-block; */
    padding: 12px 24px;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 8px;
    background: #9e00ff;
    border: none;
    transition: all 0.3sease-in-out;
    box-shadow: 0px 4px 10px rgb(0 49 255 / 63%);
}
    .btn-gradient:hover {
        transform: scale(1.05);
        box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.3);
    }

    .btn-gradient span {
        margin-left: 8px;
        font-size: 18px;
    }
   

 




    .custom-brands-title {
      font-size: 2rem;
      color: #fff;
      text-align: center;
      margin-bottom: 40px;
    }

 

  iframe{
    padding: 20px;
    border-radius: 12px;
    height: 450px;
       width: 90%;
       

  }






  /* ///////////DECLARE FONTS/////////// */
.font--robotoslab {
  font-family: 'Roboto Slab', Georgia, serif;
  font-weight: 700;
}

.font--roboto {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
}

.font--lobster {
  font-family: 'Lobster', cursive;
  font-weight: 400;
}

.font--cabin {
  font-family: 'Cabin', Arial, sans-serif;
  font-weight: 400;
}

.font--eczar {
  font-family: 'Eczar', Georgia, serif;
  font-weight: 700;
}

.font--gentium {
  font-family: 'Gentium Basic', Georgia, serif;
  font-weight: 400;
}

/* ///////////END DECLARE FONTS/////////// */

.containeer {
  place-self: center;
  display: flex;
  align-items: center;
  /* width: 90%; */
  /* max-width: 1200px; */
  background: rgb(0, 0, 0);
  padding: 20px;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); */
  border-radius: 10px;
}

.cards-containeer {
  width: 60%;
  display: flex;
  overflow: hidden;
  position: relative;
}

.cards {
  padding: 4px;
  display: flex
;
  /* transition: transform 0.5sease-in-out; */
  flex-direction: column;
}

.font-card {
  box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3), 0 55px 50px -35px rgba(0, 0, 0, 0.3);
  margin: 2%;
  text-align-last: end;
  height: 200px;
  min-width: 75%;
  padding: 20px;
  text-align: center;
  color: white;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.roboto-card {background: linear-gradient(to right, #4839ff, #a900ff);
  }

.lobster-card {background: linear-gradient(to right, #4839ff, #a900ff);
  /* background-image: url('https://res.cloudinary.com/dqj168cdc/image/upload/v1480349796/lobster-image_pznrao.jpg'); */
}

.eczar-card {background: linear-gradient(to right, #4839ff, #a900ff);
  /* background-image: url('https://res.cloudinary.com/dqj168cdc/image/upload/v1480522564/turtle-image_nblim1.jpg'); */
}

.font-description {
  color: #c9c9c9;
    align-self: baseline;
    width: 40%;
    padding: 20px;
}

h2 {
  font-size: 2rem;
  color: #a8a8a8;
}

.button-containeer {
  text-align: center;
  margin-top: 10px;
}

.next-button {
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 57%);
  margin: -2% 0% 10% 0%;
  align-self: center;
  width: 40%;
  padding: 6px 20px;
  border: none;
  background-color: #ffee00;
  color: #000000;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.next-button2 {
  margin: 4% 0% 6% 0%;
  font-weight: bold;
  font-size: 16px;
  align-self: center;
  width: 89%;
  padding: 6px 20px;
  border: none;
  background-color: #ff00f8;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .containeer {
      flex-direction: column;
  }
  .cards-containeer, .font-description {
      width: 100%;
  }
}


/* Slider */

.slider {
  /* width: 75vw; */
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(200px * 14);
}

.slider .slide {
  /* width: 200px; */
}

.slider .slide img {
  width: 100%;
}

@keyframes scroll {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
  100% {
      -webkit-transform: translateX(calc(-200px * 7));
      transform: translateX(calc(-200px * 7));
  }
}